* {
  outline: none;
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

*::-webkit-scrollbar {
  display: none !important;
}

html,
body,
#root {
  font-family: "Square";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-direction: column;
      flex-direction: column;
  z-index: 1;
  font-family: "Square";
  line-height: 1.45;
  overflow: hidden;
  -webkit-transition: all ease 0.33ms;
  transition: all ease 0.33ms;
  cursor: default;
  background-size: cover !important;
}

.app.dark {
  background: url("assets/images/bg-texture-boke.png") no-repeat right bottom fixed;
}

.app.light {
  background: url("assets/images/bg-texture-light.png") no-repeat right bottom fixed;
}

.app .MuiContainer-root,
.app .MuiGrid-root,
.app .MuiBox-root {
  max-width: 960px;
}

.MuiDrawer-paperAnchorDockedLeft {
  border-right: 0 !important;
}

.ohm-card {
  max-width: 833px;
  -webkit-box-shadow: 0 4px 40px rgba(0, 0, 37, 0.1) !important;
          box-shadow: 0 4px 40px rgba(0, 0, 37, 0.1) !important;
}

.ohm-card .card-header {
  width: 100%;
  min-height: 33px;
}

.ohm-card .card-header h5 {
  font-weight: 700 !important;
}

.ohm-card .card-header .MuiTypography-body2 {
  padding: 4px 0 0;
  opacity: 0.4;
}

.ohm-card .help-text {
  margin: 10px 0px;
}

.ohm-card .data-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 12px 0px;
}

.ohm-card .data-row-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 12px 0px;
}

.ohm-card .data-row-centered .marginedBtn {
  margin: 0.3rem;
}

.ohm-pairs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
}

a:hover svg {
  color: inherit;
}

a:hover {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.tooltip {
  z-index: 9999999;
}

.MuiAlert-root {
  cursor: help;
  background: rgba(38, 141, 255, 0.6) !important;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 8px !important;
}

.MuiAlert-root p {
  line-height: 1.5;
}

a,
button,
input[type=radio],
input[type=checkbox] {
  cursor: pointer;
}

input[type=text] {
  cursor: text;
}

.MuiGrid-item {
  padding: 12px !important;
}
/*# sourceMappingURL=style.css.map */